@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.rotate{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spinnerRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

html, body {
	height: 100%;
	overflow : hidden;
	padding : 0px;
	margin : 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root{
	height: 100%;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.flex {
  display: flex;

	.flex-grow-0 {
	  flex-grow: 0;
	}

	.flex-grow-1 {
	  flex-grow: 1;
	}
}

.v-align-middle{
	vertical-align : middle;
}

.inline-block{
	display : inline-block;
}

.hide{
	display : none;
}

.delete-button{
	float: right;
	color: @darkgrey;
	vertical-align: middle;
	border-radius : 4px;
	border: solid 1px @greybcg;
	padding : 2px 5px;
	font-size: 12px;
	cursor: pointer;

	-webkit-transition: all 1s ease;
    transition: all 1s ease;
	
    &:hover{
		border: solid 1px @darkgrey;
	}

	.delete-button-words{
		opacity : 0;
		-webkit-transition: opacity 1s ease;
    	transition: opacity 1s ease;
	}
	
	&:hover .delete-button-words{
		opacity : 1;
	}
}

.tiny-sphere{
	border-radius: 50px;
	height: 4px;
	width: 4px;
	border : solid 2px @darkgrey;
}

.no-outline{
	 outline: none !important;
}

.purple{
	color : @purple;
}

.light-purple{
	color : @lightPurple;
}

.extra-light-purple{
	color : @extraLightPurple;
}

.purple-bcg{
	background-color: @purple;
}

.light-purple-bcg{
	background-color: @lightPurple;
}

.extra-light-purple-bcg{
	background-color: @extraLightPurple;
}

.purple-unerlined-hover{
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	border-bottom : solid 2px white;
}

.purple-unerlined-hover:hover{
	border-bottom : solid 2px @lightPurple;
}

.hover-toggle{
	opacity:0;

	-webkit-transition: all 1s ease;
    transition: all 1s ease;

    &.hover-active{
    	opacity: 1;
    }

}

.blue0-bcg{
	background-color: @blue-0;
}

.blue1-bcg{
	background-color: @blue-1;
}

.blue2-bcg{
	background-color: @blue-2;
}

.blue3-bcg{
	background-color: @blue-3;
}

.rotate-180{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}