#landing-page{
	
	.section{
		padding-right: 30px;
		padding-left: 30px;
	}

	#landing-page-top-section{
		padding-bottom: 250px;
	}
	
	#lp-header-section{
		font-size: 26px;
	    padding: 20px;
	    font-weight: bold;
		color: white;
	}

	#lp-header-name{
		color: white;
		text-align: center;
		font-size:40px;
		margin-top: 50px;
		font-weight:bold;
		letter-spacing: 5px;
	}

	#lp-header-sub-name{
		color: white;
		text-align: center;
		font-size:30px;
		margin-top: 20px;
		letter-spacing: 2px;
	}

}