@media print {
	#left-panel-wrapper{
		display: none
	}
}

#left-panel{
	
	background-color: @greybcg;
	border-right : solid 1px @grey;
	color : @darkgrey;
	height: 100%;
	font-size: 13px;

	#logo{
		color: @purple;
		font-size: 20px;
		font-weight: bold;
		padding : 10px;
	}

	.node-line{

		font-size: 13px;
		margin-left: 3px;
		cursor: pointer;
		margin-top: 5px;
		margin-bottom: 5px;

		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid @darkgrey;
		}
	}

	.selected-node-line{

		font-size: 13px;
		color: @purple;
		margin-top: 5px;
		margin-bottom: 5px;
		cursor: pointer;
		
		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 4px solid @purple;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
		}
	}

	.link-line{
		font-size: 12px;
		margin-left: 10px;
		cursor: pointer;
		margin-top : 3px;
		margin-bottom : 3px;
	}

	.selected-link-line{
		font-size: 12px;
		margin-left: 10px;
		cursor: pointer;
		margin-top : 3px;
		margin-bottom : 3px;
		color: @purple;
	}

	.left-panel-nav{

		img{
			width:20px;
			height:20px;
		}

		padding-top:10px;
		flex-grow : 1;
		background-color : @lightPurple;
		color : white;
		height : 30px;
		width : 40px;
		cursor : pointer;
		border-bottom : solid 1px @greybcg;
	}

	.left-panel-nav-selected{

		img{
			width:20px;
			height:20px;
		}

		padding-top:10px;
		flex-grow : 1;
		color : @purple;
		height : 30px;
		width : 40px;
		background-color : transparent;
		border-bottom : solid 1px @greybcg;
	}

	.left-panel-title{
		text-align: center;
		padding: 10px;
		font-size : 16px;
		color: @purple;
	}

	.scale-05, .scale-1, .scale-2{
		border-radius: 50px;
	    border : solid 2px @darkgrey;
		margin-left : auto;
		margin-right : auto;
		margin-top : 5px;

		-webkit-transition: all 1s ease;
	    transition: all 1s ease;
	}

	.scale-wrapper{
		cursor: pointer;
	}

	.scale-wrapper:hover .scale-05,
	.scale-wrapper:hover .scale-1, 
	.scale-wrapper:hover .scale-2{
		background-color : @darkgrey;
	}


	.scale-05{
		height: 5px;
		width: 5px;
	}

	.scale-1{
		height: 10px;
		width: 10px;
	}

	.scale-2{
		height: 20px;
		width: 20px;
	}

	.selected-scale{
		border-color : @lightPurple !important;
		background-color : @lightPurple !important;
	}

	#lp-node-block{

		.selected-mode-line{
			color: @purple;
			cursor: pointer;
			margin-top: 3px;
			margin-bottom: 3px;
		}

		&:hover .selected-mode-line{
			display: block;
		}
		
		.un-selected-mode-line{
			cursor: pointer;
			margin-top: 3px;
			margin-bottom: 3px;
		}

	}
	
}

